---
import Layout from '@/layouts/Layout.astro'
import Apple from '@/assets/apple.svg'
---

<Layout>
  <div>
    <h1>Hello World</h1>
    <Apple class="w-10 h-10 text-red-500 bg-blue-500" />
  </div>
</Layout>
